# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [2]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

### Step 4. Create columns for the dataset

In [3]:
iris.columns =['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
iris.head()
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

   sepal_length  sepal_width  petal_length  petal_width        class
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

### Step 5.  Is there any missing value in the dataframe?

In [4]:
iris.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [5]:
iris.iloc[10:30,2] = np.nan
iris.head(20)

    sepal_length  sepal_width  petal_length  petal_width        class
0            4.9          3.0           1.4          0.2  Iris-setosa
1            4.7          3.2           1.3          0.2  Iris-setosa
2            4.6          3.1           1.5          0.2  Iris-setosa
3            5.0          3.6           1.4          0.2  Iris-setosa
4            5.4          3.9           1.7          0.4  Iris-setosa
5            4.6          3.4           1.4          0.3  Iris-setosa
6            5.0          3.4           1.5          0.2  Iris-setosa
7            4.4          2.9           1.4          0.2  Iris-setosa
8            4.9          3.1           1.5          0.1  Iris-setosa
9            5.4          3.7           1.5          0.2  Iris-setosa
10           4.8          3.4           NaN          0.2  Iris-setosa
11           4.8          3.0           NaN          0.1  Iris-setosa
12           4.3          3.0           NaN          0.1  Iris-setosa
13           5.8          4.0           NaN          0.2  Iris-setosa
14           5.7          4.4           NaN          0.4  Iris-setosa
15           5.4          3.9           NaN          0.4  Iris-setosa
16           5.1          3.5           NaN          0.3  Iris-setosa
17           5.7          3.8           NaN          0.3  Iris-setosa
18           5.1          3.8           NaN          0.3  Iris-setosa
19           5.4          3.4           NaN          0.2  Iris-setosa

### Step 7. Good, now lets substitute the NaN values to 1.0

In [6]:
iris.iloc[10:30,2] = 1
iris.head(20)

    sepal_length  sepal_width  petal_length  petal_width        class
0            4.9          3.0           1.4          0.2  Iris-setosa
1            4.7          3.2           1.3          0.2  Iris-setosa
2            4.6          3.1           1.5          0.2  Iris-setosa
3            5.0          3.6           1.4          0.2  Iris-setosa
4            5.4          3.9           1.7          0.4  Iris-setosa
5            4.6          3.4           1.4          0.3  Iris-setosa
6            5.0          3.4           1.5          0.2  Iris-setosa
7            4.4          2.9           1.4          0.2  Iris-setosa
8            4.9          3.1           1.5          0.1  Iris-setosa
9            5.4          3.7           1.5          0.2  Iris-setosa
10           4.8          3.4           1.0          0.2  Iris-setosa
11           4.8          3.0           1.0          0.1  Iris-setosa
12           4.3          3.0           1.0          0.1  Iris-setosa
13           5.8          4.0           1.0          0.2  Iris-setosa
14           5.7          4.4           1.0          0.4  Iris-setosa
15           5.4          3.9           1.0          0.4  Iris-setosa
16           5.1          3.5           1.0          0.3  Iris-setosa
17           5.7          3.8           1.0          0.3  Iris-setosa
18           5.1          3.8           1.0          0.3  Iris-setosa
19           5.4          3.4           1.0          0.2  Iris-setosa

### Step 8. Now let's delete the column class

In [7]:
del iris['class']
iris.head(20)

    sepal_length  sepal_width  petal_length  petal_width
0            4.9          3.0           1.4          0.2
1            4.7          3.2           1.3          0.2
2            4.6          3.1           1.5          0.2
3            5.0          3.6           1.4          0.2
4            5.4          3.9           1.7          0.4
5            4.6          3.4           1.4          0.3
6            5.0          3.4           1.5          0.2
7            4.4          2.9           1.4          0.2
8            4.9          3.1           1.5          0.1
9            5.4          3.7           1.5          0.2
10           4.8          3.4           1.0          0.2
11           4.8          3.0           1.0          0.1
12           4.3          3.0           1.0          0.1
13           5.8          4.0           1.0          0.2
14           5.7          4.4           1.0          0.4
15           5.4          3.9           1.0          0.4
16           5.1          3.5           1.0          0.3
17           5.7          3.8           1.0          0.3
18           5.1          3.8           1.0          0.3
19           5.4          3.4           1.0          0.2

### Step 9.  Set the first 3 rows as NaN

In [8]:
iris.loc[:2] = np.nan
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           NaN          NaN           NaN          NaN
1           NaN          NaN           NaN          NaN
2           NaN          NaN           NaN          NaN
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4

### Step 10.  Delete the rows that have NaN

In [12]:
iris = iris.dropna(how='any')

     sepal_length  sepal_width  petal_length  petal_width
3             5.0          3.6           1.4          0.2
4             5.4          3.9           1.7          0.4
5             4.6          3.4           1.4          0.3
6             5.0          3.4           1.5          0.2
7             4.4          2.9           1.4          0.2
..            ...          ...           ...          ...
144           6.7          3.0           5.2          2.3
145           6.3          2.5           5.0          1.9
146           6.5          3.0           5.2          2.0
147           6.2          3.4           5.4          2.3
148           5.9          3.0           5.1          1.8

[146 rows x 4 columns]

### Step 11. Reset the index so it begins with 0 again

In [25]:
iris =iris.reset_index(drop=True)
iris.head()

   level_0  index  sepal_length  sepal_width  petal_length  petal_width
0        0      3           5.0          3.6           1.4          0.2
1        1      4           5.4          3.9           1.7          0.4
2        2      5           4.6          3.4           1.4          0.3
3        3      6           5.0          3.4           1.5          0.2
4        4      7           4.4          2.9           1.4          0.2

### BONUS: Create your own question and answer it.